# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/best_nextjs_template"
DATABASE_URL_TEST="postgresql://postgres:postgres@localhost:5433/best_nextjs_template_test"

# Authentication (Better Auth)
BETTER_AUTH_SECRET="your-32-character-secret-key-here-please-change-this"
BETTER_AUTH_BASE_URL="http://localhost:3000"

# TRPC (optional)
TRPC_API_URL="http://localhost:3000/api/trpc"

# App Config
NEXT_PUBLIC_APP_NAME="Best Next.js Template"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Node Environment
NODE_ENV="development"