# Database
DATABASE_URL="postgresql://username:password@localhost:5432/nextjs_template"
DATABASE_URL_TEST="postgresql://username:password@localhost:5432/nextjs_template_test"

# Better Auth
BETTER_AUTH_SECRET="your-secret-key-here-must-be-at-least-32-characters-long"
BETTER_AUTH_BASE_URL="http://localhost:3000"

# TRPC (optional)
TRPC_API_URL="http://localhost:3000/api/trpc"

# App
NEXT_PUBLIC_APP_NAME="Best Next.js Template"
NEXT_PUBLIC_APP_URL="http://localhost:3000"